body {
  font-family: "Kanit";
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Start coding here */
.main-container {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: white;
  position: relative;
}

.name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}
.location {
  position: absolute;
  top: 25px;
  right: 5px;
  z-index: 3;
  background-color: rgba(00,00,00,0.4);
}
.shop-infomation {
  position: absolute;
  width: fit-content;
  height: fit-content;
  color: white;
  font-size: 2rem;
  padding: 5px 20px;
}

img {
  border-radius: 5px;
}

.hilight {
  position: absolute;
  box-sizing: border-box;
  width: 97%;
  height: 100px;
  bottom: 10px;
  z-index: 2;
  background: linear-gradient(to top, rgba(000, 000, 000, 0.9), rgba(245, 245, 245, 0));
}